
// Canvas styles begin
.st0 {
  fill: #BDE5FF;
}

.st1 {
  filter: url(#Adobe_OpacityMaskFilter);
}

.st2 {
  mask: url(#SVGID_1_);
}

.st3 {
  fill: #FFFF59;
}

.st4 {
  fill: #FFFFFF;
  pointer-events: none;
}

.st5 {
  fill: #DBD5CF;
}

.st6 {
  fill: #DA8941;
}

.st7 {
  clip-path: url(#SVGID_3_);
}

.st8 {
  fill: #E7373B;
}

.st9 {
  filter: url(#Adobe_OpacityMaskFilter_1_);
}

.st10 {
  mask: url(#SVGID_4_);
}

.st11 {
  fill: #003494;
}

.st12 {
  filter: url(#Adobe_OpacityMaskFilter_2_);
}

.st13 {
  mask: url(#SVGID_5_);
}

.st14 {
  fill: #445F74;
}

.st15 {
  fill: #E86642;
}

.st16 {
  opacity: 0.17;

}

.st17 {
  fill: #F7981F;
}

.st18 {
  fill: #FDC50F;
}

.st19 {
  fill: #e4e4e4;
}

.st20 {
fill: #fff;

}

.st21 {
  fill: none;
  stroke: #FFFFFF;
  stroke-miterlimit: 10;
}

.st22 {
  fill: #E94766;
}

.st23 {
  fill: #FDC727;
}

.st24 {
  clip-path: url(#SVGID_7_);
}

.st25 {
  clip-path: url(#SVGID_9_);
}

.st26 {
  fill: #17B7FF;
}

.st27 {
  clip-path: url(#SVGID_11_);
}

.st28 {
  fill: #95D2FB;
}

.st29 {
  fill: #B7F4F2;
}

.st30 {
  fill: #C4FFCC;
}

.st31 {
  fill: #EDFF9C;
}

.st32 {
  fill: #FEE5A4;
}

.st33 {
  fill: #FDC689;
}

.st34 {
  fill: #F08573;
}

.st35 {
  fill: #F9D791;
}

.st36 {
  fill: #F6AF02;
}

.st37 {
  fill: #0053B8;
}

.st38 {
  fill: #FFF;
  &.ellipse-button {
    fill: #8F8F8F;
  }
  &.dude {
    fill: #8F8F8F;
  }
}
.dude {
  .st38 {
    fill: #8F8F8F;
  }
}

.st39 {
  fill: #8EC100;
}

.st40 {
  fill: #A1CEFF;
}

.st41 {
  fill: #F98792;
}

.st42 {
  fill: #FFDF59;
}

.st43 {
  fill: #EFCF91;
}

.st44 {
  fill: #820003;
}

.st45 {
  opacity: 0.52;
}

.st46 {
  opacity: 0.45;
}

.st47 {
  fill: #A8A8A8;
}

.st48 {
  opacity: 7.000000 e-02;
}

.st49 {
  opacity: 0.81;
  fill: #EFBF83;
}

.st50 {
  fill: #F7AD02;
}

.st51 {
  fill: #FCE229;
}

.st52 {
  fill: #734300;
}

.st53 {
  fill: #6EB52B;

}

.st54 {
  clip-path: url(#SVGID_13_);
  .st4 {
    clip-path: url(#SVGID_13_);

  }

}

.st55 {
  fill: #B77E31;
}

.st56 {
  fill: #4D494F;
}

.st57 {
  fill: #D39027;
}

.st58 {
  fill: #FDC902;
}

.st59 {
  opacity: 0.25;
}

.st60 {
  fill: #65DAE8;
}

.st61 {
  fill: #00ADEE;
}

.st62 {
  fill: #8BC53F;
}

.st63 {
  fill: #FAAF40;
}

.st64 {
  fill: none;
}

.st65 {
  font-family: 'OpenSans';
}

.st66 {
  font-size: 6px;
}

.st67 {
  font-family: 'OpenSans-Bold';
}

.st68 {
  font-size: 10px;
}

.st69 {
  fill: none;
  stroke: #885520;
  stroke-miterlimit: 10;
}

.st70 {
  fill: #FFFFFF;
  stroke: #FAAF40;
  stroke-width: 5;
  stroke-miterlimit: 10;
}

.st71 {
  opacity: 0.47;
  fill: none;
  stroke: #E30019;
  stroke-width: 2;
  stroke-linecap: round;
  stroke-miterlimit: 10;
}

.st72 {
  fill: #3A94FF;
}

.st73 {
  fill: #F4DDB1;
}

.st74 {
  fill: #750D00;
}

.st75 {
  opacity: 0.13;
  fill: #1F1800;
}

.st76 {
  fill: #4C4C4C;
}

.st77 {
  fill: none;
  stroke: #8F8F8F;
  stroke-width: 2;
  stroke-miterlimit: 10;
}

.st78 {
  fill: #FFFFFF;
  stroke: #000000;
  stroke-width: 2;
  stroke-miterlimit: 10;
}

.st79 {
  fill: #4D2C02;
}

.st80 {
  fill: #885520;
}

.st81 {
  fill: none;
  stroke: #000000;
  stroke-width: 2;
  stroke-miterlimit: 10;
}

.st82 {
  opacity: 1;
}

.st83 {
  fill: #4E9100;
}

.st84 {
  fill: #C06A29;
}

.st85 {
  fill: #DB8E3F;
}

.st86 {
  fill: #FFD02C;
}

.st87 {
  fill: #ED9F00;
}

.st88 {
  fill: #E8BB66;
}

.st89 {
  opacity: 0.17;
  fill: #923E00;
}

.st90 {
  fill: #FC7802;
}

.st91 {
  fill: #FC7F0B;
}

.st92 {
  fill: #E49340;
}

.st93 {
  fill: #FDB514;
}

.st94 {
  fill: none;
  stroke: #00ADEE;
  stroke-miterlimit: 10;
}

.st95 {
  fill: #666666;
}

.st96 {
  font-size: 10px;
}

.st97 {
  font-size: 15px;
}

// Max width of content
.width-wrapper {
  max-width: 100%;
  @include centerer;
}
body {
  background-color: rgb(189, 229, 255);
  position: relative;
  overflow-x: hidden;
}
.content-wrapper {
  @include transform-origin(50%, 0%);
  @include scale(2);
}

.userwrapper {
  -webkit-transform: scale(.5);
  -moz-transform: scale(.5);
  transform: scale(.5);
  ms-transform: scale(.5);
  transform-origin: 50% 0%;
  ms-transform-origin: 50% 0%;
  -webkit-transform-origin: 50% 0%;

  @media (min-width: 764px) {
    -webkit-transform: scale(.7);
    -moz-transform: scale(.7);
    transform: scale(.7);
  }
  @media (min-width: 1200px) {
    -webkit-transform: scale(1);
    -moz-transform: scale(1);
    transform: scale(1);
  }
}

html, button, a, input, label, p, div, body {
  cursor: url(../assets/images/cursor.png)0 0,default !important;


}
.toimi {
  cursor: url(../assets/images/cursor_a.png)0 0,default !important;
}
.tuuli {
  cursor: url(../assets/images/cursor_a.png)0 0,default !important;
}
.toivo {
  cursor: url(../assets/images/cursor_a.png)0 0,default !important;
}
.taito {
  cursor: url(../assets/images/cursor_a.png)0 0,default !important;
}
.church {
  cursor: url(../assets/images/cursor_a.png)0 0,default !important;
}
#Layer_1 {
  position: relative;
}

.church {
  position: relative;
}
.churchbell {
  @include churchbell;

}

.churchbellinner {
  @include churchbellinner;
}
.eye {
  @include eyeblink;
}
.yawn {
  @include yawn;
}
.delay2 {
  @include delay2;
}
.delay4 {
  @include delay4;
}

//  Buttons

.ellipse-button{
  @include hover-stroke;
  -webkit-transition: all 0.2s ease-in-out;
  -moz-transition: all 0.2s ease-in-out;
  -ms-transition: all 0.2s ease-in-out;
  -o-transition: all 0.2s ease-in-out;
  transition: all 0.2s ease-in-out;
  transform-origin: 50% 50%;
  -ms-transform-origin: 50% 50%;
  -o-transform-origin: 50% 50%;
  -webkit-transform-origin: 50% 50%;
  -moz-transform-origin: 50% 50%;
}

.login-button {
  position: relative;
  width: auto;
  height: 20px;
  line-height: 0px;
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  border-radius: 5px;
  background-color: #00ADEE;
  font-size: 11px;
  @media (max-width: 764px) {
    height: 5px;
    top: 10px;
    left: 0;
    line-height: 0px;
    border-radius: 0px;
    -webkit-border-radius: 0px;
    -moz-border-radius: 0px;
    font-size: 8px;
  }
}
.login-form {
  width: 100%;
  text-align: center;
}


.login-name  {
  margin-bottom: 6px;
 /* position: absolute;
  top: 10px;
  left: 32%;
  min-height: 10px;
  line-height: 0px;
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  border-radius: 5px;
  font-size: 14px;
  text-align: left;
  width: auto;
  max-width: 30%;
  height: auto;*/
  text-align: center;
  color: #666666;
  font-size: 15px;
  @media (max-width: 764px) {
   height: 10px;
    left: 5px;
    top: 5px;
    line-height: 0px;
    border-radius: 0px;
    -webkit-border-radius: 0px;
    -moz-border-radius: 0px;
    font-size: 12px;
  }
}
@media #{$medium-up} {

  .login-modal-wrapper {
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    border-radius: 5px;
    img {
      float: left;
      max-width: 30%;
      height: auto;
      max-height: 100%;

    }
    label {
      float: left;
      color: #00ADEE;
      clear: both;
      font-size: 15px;
    }
    .login-wrapper {
      position: absolute;
      left: 40%;
      top: 30%;
    }
    form {
      height: 100%;
      text-align: center;
      #loginForm__name {
        float: left;
        width: 90%;
        margin-left: 5%;
        margin-bottom: 45px;
        margin-top: 18px;
      }
    }
    #submit {

      background-color: #8EC100;
      background-image: url('../assets/images/arrow.png');
      background-position: 50% 50%;
      background-repeat: no-repeat;
      padding: 20px 40px;
      background-size: 80% 80%;
      webkit-border-radius: 5px;
      -moz-border-radius: 5px;
      border-radius: 5px;
      @media #{medium-only} {
      padding: 10px 20px;
        background-size: contain;
        margin: 0px;
      }
      @media #{small-only} {
        background-size: contain;
        padding: 5px 10px;
        margin: 0px;
      }
    }
  }

  .login-modal {
    max-width: 25%;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    border-radius: 5px;
    border: 4px solid #8EC100;
    min-height: 420px;
  }
}


@media #{$small-only} {

  .login-modal-wrapper {
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    border-radius: 5px;
    img {
      float: left;
      max-width: 30%;
      height: auto;
      max-height: 100%;

    }
    label {
      float: left;
      color: #00ADEE;
      clear: both;
    }

    .login-wrapper {

      left: 35%;
      top: 30%;
    }
    form {
      height: 100%;
      text-align: center;
      #loginForm__name {
        float: left;
        width: 90%;
      }
      #submit {
        float: left;
        margin-left: 0;
        background-color: #8EC100;
        background-image: url('../assets/images/arrow.png');
        background-position: 50% 50%;
        background-repeat: no-repeat;
        background-size: 80% 80%;
        -webkit-border-radius: 5px;
        -moz-border-radius: 5px;
        border-radius: 5px;
        margin-top: 15px;
      }
    }

  }

  .login-modal {
    width: 50%;
    margin-left: 25%;
    max-width: 100%;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    border-radius: 5px;
    border: 4px solid #8EC100;
    @media #{$small-up} {
      width: 50%;
      margin-left: 25%;
    }

  }
}
.userwrapper {
  position: relative;
  width: 60%;
  text-align: center;
  padding-top: 20px;
}

.ng-scope {
  z-index: 8;
}

@-moz-document url-prefix() {
body{

  .sun, .moon, .star, .church, .cart, .house, .wheel, .churchbell, .churchbellinner, .ellipse-button, .yawn, .ellipse-button:hover, .snowlake, .snow-pileup .green-bloon, .eye, .blink, .bloon-wrapper {
    -webkit-transition: none !important;
    -moz-transition: none !important;
    -o-transition: none !important;
    -ms-transition: none !important;
    transition: none !important;
    animation: none !important;
    transform: none !important;

  }
  .thunder {
    .st36, .st35 {
      -webkit-transition: none !important;
      -moz-transition: none !important;
      -o-transition: none !important;
      -ms-transition: none !important;
      transition: none !important;
      animation: none !important;
      transform: none !important;

    }
  }
  .smoke3 {
    display: none !important;

     }
  .green-bloon-wrapper, .second-bloon, .bloon-wrapper,  {
    .st4 {
      display: none;
    }
  }

}
}

.footer-text {
  -webkit-transform: scale(.5);
  -moz-transform: scale(.5);
  transform: scale(.5);
  ms-transform: scale(.5);
  transform-origin: 50% 0%;
  ms-transform-origin: 50% 0%;
  -webkit-transform-origin: 50% 0%;
  width: 100%;
  text-align: center;
  font-size: 12px;
  margin-top: 86%;
  padding: 20px;
  color: #00ADEE;
  font-family: 'Open Sans';
  .footer-title {
    clear: both;
    font-family: 'Open Sans';
    font-size: 34px;
  }
}
.unzoom {
  height: 100%;
}


.tuuli:hover,
.toimi:hover,
.toivo:hover,
.taito:hover {
  transform: translate(0px, -15px);
  webkit-transform: translate(0px, -15px);
  -o-transform: translate(0px, -15px);
  -moz-transform: translate(0px, -15px);
}

.tuuli {
  -webkit-transition: all 1s ease-in-out;
  -moz-transition: all 1s ease-in-out;
  -ms-transition: all 1s ease-in-out;
  -o-transition: all 1s ease-in-out;
  transition: all 1s ease-in-out;
}
.toimi {
  -webkit-transition: all 1s ease-in-out;
  -moz-transition: all 1s ease-in-out;
  -ms-transition: all 1s ease-in-out;
  -o-transition: all 1s ease-in-out;
  transition: all 1s ease-in-out;
}
.toivo {
  -webkit-transition: all 1s ease-in-out;
  -moz-transition: all 1s ease-in-out;
  -ms-transition: all 1s ease-in-out;
  -o-transition: all 1s ease-in-out;
  transition: all 1s ease-in-out;
}
.taito {
  -webkit-transition: all 1s ease-in-out;
  -moz-transition: all 1s ease-in-out;
  -ms-transition: all 1s ease-in-out;
  -o-transition: all 1s ease-in-out;
  transition: all 1s ease-in-out;
}