.taito {
  @include transform-origin(50%, 50%);

  &.active {

    .st79,
    .st80 {
      &.left-eyebrow {
        @include animation( TaitoTalkingLeftEyebrow 8.385s linear);
        -moz-animation: none !important;
      }

      &.right-eyebrow {
        @include animation( TaitoTalkingRightEyebrow 8.385s linear);
        -moz-animation: none !important;
      }
    }

    .st74 {
      @include animation( TaitoTalkingMouth 8.385s linear);
      -moz-animation: none !important;
    }

    .eye {
      @include animation( TaitoTalkingIris 8.385s linear);
      -moz-animation: none !important;

      &.st4 {
        @include animation( TaitoTalkingPupils 8.385s linear);
        -moz-animation: none !important;
      }
    }
  }

  .eye {
    @include transform(translate(0, 0) rotateX(0deg));
  }

  .st74 {
    @include transform-origin(50%, 50%);
    @include transform(scale(1));
  }

  .st79,
  .st80 {
    &.left-eyebrow,
    &.right-eyebrow {
      @include transform-origin(50%, 50%);
      @include transform(translate(0, 0) rotateZ(0deg) scale(1));
    }
  }
}

@-webkit-keyframes TaitoTalkingLeftEyebrow {
  0% {
    @include transform(translate(0, 0) rotateZ(0deg) scale(1));
  }
  2% {
    @include transform(translate(0, -2px) rotateZ(-10deg) scale(1.2));
  }
  98% {
    @include transform(translate(0, -2px) rotateZ(-10deg) scale(1.2));
  }
  100% {
    @include transform(translate(0, 0) rotateZ(0deg) scale(1));
  }
}

@-webkit-keyframes TaitoTalkingRightEyebrow {
  0% {
    @include transform(translate(0, 0) rotateZ(0deg) scale(1));
  }
  2% {
    @include transform(translate(0, -2px) rotateZ(10deg) scale(1.2));
  }
  98% {
    @include transform(translate(0, -2px) rotateZ(10deg) scale(1.2));
  }
  100% {
    @include transform(translate(0, 0) rotateZ(0deg) scale(1));
  }
}

@-webkit-keyframes TaitoTalkingPupils {
  0% {
    @include transform(translate(0, 0));
  }
  2% {
    @include transform(translate(-3px, 3px));
  }
  14% {
    @include transform(translate(-3px, 3px) rotateX(0deg));
  }
  16% {
    @include transform(translate(-3px, 3px) rotateX(90deg));
  }
  18% {
    @include transform(translate(-3px, 3px) rotateX(0deg));
  }
  34% {
    @include transform(translate(-3px, 3px) rotateX(0deg));
  }
  36% {
    @include transform(translate(0, 0) rotateX(90deg));
  }
  38% {
    @include transform(translate(0, 0) rotateX(0deg));
  }
  54% {
    @include transform(translate(0, 0));
  }
  56% {
    @include transform(translate(-3px, 3px));
  }
  60% {
    @include transform(translate(-3px, 3px) rotateX(0deg));
  }
  62% {
    @include transform(translate(-3px, 3px) rotateX(90deg));
  }
  64% {
    @include transform(translate(-3px, 3px) rotateX(0deg));
  }
  98% {
    @include transform(translate(-3px, 3px));
  }
  100% {
    @include transform(translate(0, 0));
  }
}

@-webkit-keyframes TaitoTalkingIris {
  14% {
    @include transform(rotateX(0deg));
  }
  16% {
    @include transform(rotateX(90deg));
  }
  18% {
    @include transform(rotateX(0deg));
  }
  34% {
    @include transform(rotateX(0deg));
  }
  36% {
    @include transform(rotateX(90deg));
  }
  38% {
    @include transform(rotateX(0deg));
  }
  60% {
    @include transform(rotateX(0deg));
  }
  62% {
    @include transform(rotateX(90deg));
  }
  64% {
    @include transform(rotateX(0deg));
  }
}

@-webkit-keyframes TaitoTalkingMouth {
  0% {
    @include transform(translate(0, 0) scale(1) skew(0deg) rotateX(80deg));
  }
  2.25% {
    @include transform(translate(1px, -1px) scale(2) skew(12deg) rotateX(50deg));
  }
  4.7% {
    @include transform(translate(1px, -1px) scale(2) skew(12deg) rotateX(77deg));
  }
  7.6% {
    @include transform(translate(1px, -1px) scale(2) skew(12deg) rotateX(43deg));
  }
  10.8% {
    @include transform(translate(1px, -1px) scale(2) skew(12deg) rotateX(78deg));
  }
  14% {
    @include transform(translate(1px, -1px) scale(2) skew(12deg) rotateX(53deg));
  }
  17.8% {
    @include transform(translate(1px, -1px) scale(2) skew(12deg) rotateX(79deg));
  }
  23.5% {
    @include transform(translate(1px, -1px) scale(2) skew(12deg) rotateX(79deg));
  }
  26% {
    @include transform(translate(1px, -1px) scale(2) skew(12deg) rotateX(52deg));
  }
  30% {
    @include transform(translate(1px, -1px) scale(2) skew(12deg) rotateX(79deg));
  }
  34.7% {
    @include transform(translate(1px, -1px) scale(2) skew(12deg) rotateX(48deg));
  }
  38.75% {
    @include transform(translate(1px, -1px) scale(2) skew(12deg) rotateX(73deg));
  }
  43% {
    @include transform(translate(1px, -1px) scale(2) skew(12deg) rotateX(55deg));
  }
  47.2% {
    @include transform(translate(1px, -1px) scale(2) skew(12deg) rotateX(80deg));
  }
  51% {
    @include transform(translate(1px, -1px) scale(2) skew(12deg) rotateX(50deg));
  }
  56.1% {
    @include transform(translate(1px, -1px) scale(2) skew(12deg) rotateX(75deg));
  }
  60% {
    @include transform(translate(1px, -1px) scale(2) skew(12deg) rotateX(54deg));
  }
  64.7% {
    @include transform(translate(1px, -1px) scale(2) skew(12deg) rotateX(81deg));
  }
  69.3% {
    @include transform(translate(1px, -1px) scale(2) skew(12deg) rotateX(49deg));
  }
  73% {
    @include transform(translate(1px, -1px) scale(2) skew(12deg) rotateX(76deg));
  }
  76.8% {
    @include transform(translate(1px, -1px) scale(2) skew(12deg) rotateX(53deg));
  }
  79.3% {
    @include transform(translate(1px, -1px) scale(2) skew(12deg) rotateX(83deg));
  }
  82% {
    @include transform(translate(1px, -1px) scale(2) skew(12deg) rotateX(52deg));
  }
  85% {
    @include transform(translate(1px, -1px) scale(2) skew(12deg) rotateX(73deg));
  }
  88% {
    @include transform(translate(1px, -1px) scale(2) skew(12deg) rotateX(51deg));
  }
  92.3% {
    @include transform(translate(1px, -1px) scale(2) skew(12deg) rotateX(80deg));
  }
  96% {
    @include transform(translate(1px, -1px) scale(2) skew(12deg) rotateX(50deg));
  }
  100% {
    @include transform(translate(0, 0) scale(1) skew(0deg) rotateX(0deg));
  }
}

@keyframes TaitoTalkingLeftEyebrow {
  0% {
    @include transform(translate(0, 0) rotateZ(0deg) scale(1));
  }
  2% {
    @include transform(translate(0, -2px) rotateZ(-10deg) scale(1.2));
  }
  98% {
    @include transform(translate(0, -2px) rotateZ(-10deg) scale(1.2));
  }
  100% {
    @include transform(translate(0, 0) rotateZ(0deg) scale(1));
  }
}

@keyframes TaitoTalkingRightEyebrow {
  0% {
    @include transform(translate(0, 0) rotateZ(0deg) scale(1));
  }
  2% {
    @include transform(translate(0, -2px) rotateZ(10deg) scale(1.2));
  }
  98% {
    @include transform(translate(0, -2px) rotateZ(10deg) scale(1.2));
  }
  100% {
    @include transform(translate(0, 0) rotateZ(0deg) scale(1));
  }
}

@keyframes TaitoTalkingPupils {
  0% {
    @include transform(translate(0, 0));
  }
  2% {
    @include transform(translate(-3px, 3px));
  }
  14% {
    @include transform(translate(-3px, 3px) rotateX(0deg));
  }
  16% {
    @include transform(translate(-3px, 3px) rotateX(90deg));
  }
  18% {
    @include transform(translate(-3px, 3px) rotateX(0deg));
  }
  34% {
    @include transform(translate(-3px, 3px) rotateX(0deg));
  }
  36% {
    @include transform(translate(0, 0) rotateX(90deg));
  }
  38% {
    @include transform(translate(0, 0) rotateX(0deg));
  }
  54% {
    @include transform(translate(0, 0));
  }
  56% {
    @include transform(translate(-3px, 3px));
  }
  60% {
    @include transform(translate(-3px, 3px) rotateX(0deg));
  }
  62% {
    @include transform(translate(-3px, 3px) rotateX(90deg));
  }
  64% {
    @include transform(translate(-3px, 3px) rotateX(0deg));
  }
  98% {
    @include transform(translate(-3px, 3px));
  }
  100% {
    @include transform(translate(0, 0));
  }
}

@keyframes TaitoTalkingIris {
  14% {
    @include transform(rotateX(0deg));
  }
  16% {
    @include transform(rotateX(90deg));
  }
  18% {
    @include transform(rotateX(0deg));
  }
  34% {
    @include transform(rotateX(0deg));
  }
  36% {
    @include transform(rotateX(90deg));
  }
  38% {
    @include transform(rotateX(0deg));
  }
  60% {
    @include transform(rotateX(0deg));
  }
  62% {
    @include transform(rotateX(90deg));
  }
  64% {
    @include transform(rotateX(0deg));
  }
}

@keyframes TaitoTalkingMouth {
  0% {
    @include transform(translate(0, 0) scale(1) skew(0deg) rotateX(80deg));
  }
  2.25% {
    @include transform(translate(1px, -1px) scale(2) skew(12deg) rotateX(50deg));
  }
  4.7% {
    @include transform(translate(1px, -1px) scale(2) skew(12deg) rotateX(77deg));
  }
  7.6% {
    @include transform(translate(1px, -1px) scale(2) skew(12deg) rotateX(43deg));
  }
  10.8% {
    @include transform(translate(1px, -1px) scale(2) skew(12deg) rotateX(78deg));
  }
  14% {
    @include transform(translate(1px, -1px) scale(2) skew(12deg) rotateX(53deg));
  }
  17.8% {
    @include transform(translate(1px, -1px) scale(2) skew(12deg) rotateX(79deg));
  }
  23.5% {
    @include transform(translate(1px, -1px) scale(2) skew(12deg) rotateX(79deg));
  }
  26% {
    @include transform(translate(1px, -1px) scale(2) skew(12deg) rotateX(52deg));
  }
  30% {
    @include transform(translate(1px, -1px) scale(2) skew(12deg) rotateX(79deg));
  }
  34.7% {
    @include transform(translate(1px, -1px) scale(2) skew(12deg) rotateX(48deg));
  }
  38.75% {
    @include transform(translate(1px, -1px) scale(2) skew(12deg) rotateX(73deg));
  }
  43% {
    @include transform(translate(1px, -1px) scale(2) skew(12deg) rotateX(55deg));
  }
  47.2% {
    @include transform(translate(1px, -1px) scale(2) skew(12deg) rotateX(80deg));
  }
  51% {
    @include transform(translate(1px, -1px) scale(2) skew(12deg) rotateX(50deg));
  }
  56.1% {
    @include transform(translate(1px, -1px) scale(2) skew(12deg) rotateX(75deg));
  }
  60% {
    @include transform(translate(1px, -1px) scale(2) skew(12deg) rotateX(54deg));
  }
  64.7% {
    @include transform(translate(1px, -1px) scale(2) skew(12deg) rotateX(81deg));
  }
  69.3% {
    @include transform(translate(1px, -1px) scale(2) skew(12deg) rotateX(49deg));
  }
  73% {
    @include transform(translate(1px, -1px) scale(2) skew(12deg) rotateX(76deg));
  }
  76.8% {
    @include transform(translate(1px, -1px) scale(2) skew(12deg) rotateX(53deg));
  }
  79.3% {
    @include transform(translate(1px, -1px) scale(2) skew(12deg) rotateX(83deg));
  }
  82% {
    @include transform(translate(1px, -1px) scale(2) skew(12deg) rotateX(52deg));
  }
  85% {
    @include transform(translate(1px, -1px) scale(2) skew(12deg) rotateX(73deg));
  }
  88% {
    @include transform(translate(1px, -1px) scale(2) skew(12deg) rotateX(51deg));
  }
  92.3% {
    @include transform(translate(1px, -1px) scale(2) skew(12deg) rotateX(80deg));
  }
  96% {
    @include transform(translate(1px, -1px) scale(2) skew(12deg) rotateX(50deg));
  }
  100% {
    @include transform(translate(0, 0) scale(1) skew(0deg) rotateX(0deg));
  }
}


.toivo {

  &.active {

    .st4 {
      &.left-eyebrow {
        @include animation( ToivoTalkingLeftEyebrow 6s linear);
        -moz-animation: none !important;
      }

      &.right-eyebrow {
        @include animation( ToivoTalkingRightEyebrow 6s linear);
        -moz-animation: none !important;
      }
    }

    .st74 {
      @include animation( ToivoTalkingMouth 6s linear);
      -moz-animation: none !important;
    }

    .eye {
      @include animation( ToivoTalkingIris 6s linear);
      -moz-animation: none !important;

      &.st4 {
        @include animation( ToivoTalkingPupils 6s linear);
        -moz-animation: none !important;
      }
    }
  }

  .eye {
    @include transform(translate(0, 0) rotateX(0deg));
  }

  .st74 {
    @include transform-origin(50%, 50%);
  }

  .st4 {
    &.left-eyebrow,
    &.right-eyebrow {
      @include transform-origin(50%, 50%);
      @include transform(translate(0, 0) rotateZ(0deg) scale(1));
    }
  }
}

@-webkit-keyframes ToivoTalkingLeftEyebrow {
  0% {
    @include transform(translate(0, 0) rotateZ(0deg) scale(1));
  }
  2% {
    @include transform(translate(0, -2px) rotateZ(-10deg) scale(1.1));
  }
  98% {
    @include transform(translate(0, -2px) rotateZ(-10deg) scale(1.1));
  }
  100% {
    @include transform(translate(0, 0) rotateZ(0deg) scale(1));
  }
}

@-webkit-keyframes ToivoTalkingRightEyebrow {
  0% {
    @include transform(translate(0, 0) rotateZ(0deg) scale(1));
  }
  2% {
    @include transform(translate(0, -2px) rotateZ(10deg) scale(1.1));
  }
  98% {
    @include transform(translate(0, -2px) rotateZ(10deg) scale(1.1));
  }
  100% {
    @include transform(translate(0, 0) rotateZ(0deg) scale(1));
  }
}

@-webkit-keyframes ToivoTalkingPupils {
  0% {
    @include transform(translate(0, 0));
  }
  2% {
    @include transform(translate(-3px, 3px));
  }
  14% {
    @include transform(translate(-3px, 3px) rotateX(0deg));
  }
  16% {
    @include transform(translate(-3px, 3px) rotateX(90deg));
  }
  18% {
    @include transform(translate(-3px, 3px) rotateX(0deg));
  }
  34% {
    @include transform(translate(-3px, 3px) rotateX(0deg));
  }
  36% {
    @include transform(translate(0, 0) rotateX(90deg));
  }
  38% {
    @include transform(translate(0, 0) rotateX(0deg));
  }
  54% {
    @include transform(translate(0, 0));
  }
  56% {
    @include transform(translate(-3px, 3px));
  }
  60% {
    @include transform(translate(-3px, 3px) rotateX(0deg));
  }
  62% {
    @include transform(translate(-3px, 3px) rotateX(90deg));
  }
  64% {
    @include transform(translate(-3px, 3px) rotateX(0deg));
  }
  98% {
    @include transform(translate(-3px, 3px));
  }
  100% {
    @include transform(translate(0, 0));
  }
}

@-webkit-keyframes ToivoTalkingIris {
  14% {
    @include transform(rotateX(0deg));
  }
  16% {
    @include transform(rotateX(90deg));
  }
  18% {
    @include transform(rotateX(0deg));
  }
  34% {
    @include transform(rotateX(0deg));
  }
  36% {
    @include transform(rotateX(90deg));
  }
  38% {
    @include transform(rotateX(0deg));
  }
  60% {
    @include transform(rotateX(0deg));
  }
  62% {
    @include transform(rotateX(90deg));
  }
  64% {
    @include transform(rotateX(0deg));
  }
}

@-webkit-keyframes ToivoTalkingMouth {
  0% {
    @include transform(translate(0, 0) scale(1) skew(0deg) rotateX(80deg));
  }
  2.25% {
    @include transform(translate(1px, -1px) scale(2) skew(12deg) rotateX(50deg));
  }
  4.7% {
    @include transform(translate(1px, -1px) scale(2) skew(12deg) rotateX(77deg));
  }
  7.6% {
    @include transform(translate(1px, -1px) scale(2) skew(12deg) rotateX(43deg));
  }
  10.8% {
    @include transform(translate(1px, -1px) scale(2) skew(12deg) rotateX(78deg));
  }
  14% {
    @include transform(translate(1px, -1px) scale(2) skew(12deg) rotateX(53deg));
  }
  17.8% {
    @include transform(translate(1px, -1px) scale(2) skew(12deg) rotateX(80deg));
  }
  21.4% {
    @include transform(translate(1px, -1px) scale(2) skew(12deg) rotateX(50deg));
  }
  24.7% {
    @include transform(translate(1px, -1px) scale(2) skew(12deg) rotateX(76deg));
  }
  28% {
    @include transform(translate(1px, -1px) scale(2) skew(12deg) rotateX(52deg));
  }
  33% {
    @include transform(translate(1px, -1px) scale(2) skew(12deg) rotateX(79deg));
  }
  36.7% {
    @include transform(translate(1px, -1px) scale(2) skew(12deg) rotateX(48deg));
  }
  40.5% {
    @include transform(translate(1px, -1px) scale(2) skew(12deg) rotateX(73deg));
  }
  45% {
    @include transform(translate(1px, -1px) scale(2) skew(12deg) rotateX(55deg));
  }
  49.2% {
    @include transform(translate(1px, -1px) scale(2) skew(12deg) rotateX(80deg));
  }
  53% {
    @include transform(translate(1px, -1px) scale(2) skew(12deg) rotateX(50deg));
  }
  57.1% {
    @include transform(translate(1px, -1px) scale(2) skew(12deg) rotateX(75deg));
  }
  61% {
    @include transform(translate(1px, -1px) scale(2) skew(12deg) rotateX(54deg));
  }
  64.7% {
    @include transform(translate(1px, -1px) scale(2) skew(12deg) rotateX(81deg));
  }
  69.3% {
    @include transform(translate(1px, -1px) scale(2) skew(12deg) rotateX(49deg));
  }
  73% {
    @include transform(translate(1px, -1px) scale(2) skew(12deg) rotateX(76deg));
  }
  76.8% {
    @include transform(translate(1px, -1px) scale(2) skew(12deg) rotateX(53deg));
  }
  80.3% {
    @include transform(translate(1px, -1px) scale(2) skew(12deg) rotateX(83deg));
  }
  81% {
    @include transform(translate(1px, -1px) scale(2) skew(12deg) rotateX(52deg));
  }
  84.7% {
    @include transform(translate(1px, -1px) scale(2) skew(12deg) rotateX(73deg));
  }
  88% {
    @include transform(translate(1px, -1px) scale(2) skew(12deg) rotateX(51deg));
  }
  92.3% {
    @include transform(translate(1px, -1px) scale(2) skew(12deg) rotateX(80deg));
  }
  96% {
    @include transform(translate(1px, -1px) scale(2) skew(12deg) rotateX(50deg));
  }
  100% {
    @include transform(translate(0, 0) scale(1) skew(0deg) rotateX(60deg));
  }
}

@keyframes ToivoTalkingLeftEyebrow {
  0% {
    @include transform(translate(0, 0) rotateZ(0deg) scale(1));
  }
  2% {
    @include transform(translate(0, -2px) rotateZ(-10deg) scale(1.1));
  }
  98% {
    @include transform(translate(0, -2px) rotateZ(-10deg) scale(1.1));
  }
  100% {
    @include transform(translate(0, 0) rotateZ(0deg) scale(1));
  }
}

@keyframes ToivoTalkingRightEyebrow {
  0% {
    @include transform(translate(0, 0) rotateZ(0deg) scale(1));
  }
  2% {
    @include transform(translate(0, -2px) rotateZ(10deg) scale(1.1));
  }
  98% {
    @include transform(translate(0, -2px) rotateZ(10deg) scale(1.1));
  }
  100% {
    @include transform(translate(0, 0) rotateZ(0deg) scale(1));
  }
}

@keyframes ToivoTalkingPupils {
  0% {
    @include transform(translate(0, 0));
  }
  2% {
    @include transform(translate(-3px, 3px));
  }
  14% {
    @include transform(translate(-3px, 3px) rotateX(0deg));
  }
  16% {
    @include transform(translate(-3px, 3px) rotateX(90deg));
  }
  18% {
    @include transform(translate(-3px, 3px) rotateX(0deg));
  }
  34% {
    @include transform(translate(-3px, 3px) rotateX(0deg));
  }
  36% {
    @include transform(translate(0, 0) rotateX(90deg));
  }
  38% {
    @include transform(translate(0, 0) rotateX(0deg));
  }
  54% {
    @include transform(translate(0, 0));
  }
  56% {
    @include transform(translate(-3px, 3px));
  }
  60% {
    @include transform(translate(-3px, 3px) rotateX(0deg));
  }
  62% {
    @include transform(translate(-3px, 3px) rotateX(90deg));
  }
  64% {
    @include transform(translate(-3px, 3px) rotateX(0deg));
  }
  98% {
    @include transform(translate(-3px, 3px));
  }
  100% {
    @include transform(translate(0, 0));
  }
}

@keyframes ToivoTalkingIris {
  14% {
    @include transform(rotateX(0deg));
  }
  16% {
    @include transform(rotateX(90deg));
  }
  18% {
    @include transform(rotateX(0deg));
  }
  34% {
    @include transform(rotateX(0deg));
  }
  36% {
    @include transform(rotateX(90deg));
  }
  38% {
    @include transform(rotateX(0deg));
  }
  60% {
    @include transform(rotateX(0deg));
  }
  62% {
    @include transform(rotateX(90deg));
  }
  64% {
    @include transform(rotateX(0deg));
  }
}

@keyframes ToivoTalkingMouth {
  0% {
    @include transform(translate(0, 0) scale(1) skew(0deg) rotateX(80deg));
  }
  2.25% {
    @include transform(translate(1px, -1px) scale(2) skew(12deg) rotateX(50deg));
  }
  4.7% {
    @include transform(translate(1px, -1px) scale(2) skew(12deg) rotateX(77deg));
  }
  7.6% {
    @include transform(translate(1px, -1px) scale(2) skew(12deg) rotateX(43deg));
  }
  10.8% {
    @include transform(translate(1px, -1px) scale(2) skew(12deg) rotateX(78deg));
  }
  14% {
    @include transform(translate(1px, -1px) scale(2) skew(12deg) rotateX(53deg));
  }
  17.8% {
    @include transform(translate(1px, -1px) scale(2) skew(12deg) rotateX(80deg));
  }
  21.4% {
    @include transform(translate(1px, -1px) scale(2) skew(12deg) rotateX(50deg));
  }
  24.7% {
    @include transform(translate(1px, -1px) scale(2) skew(12deg) rotateX(76deg));
  }
  28% {
    @include transform(translate(1px, -1px) scale(2) skew(12deg) rotateX(52deg));
  }
  33% {
    @include transform(translate(1px, -1px) scale(2) skew(12deg) rotateX(79deg));
  }
  36.7% {
    @include transform(translate(1px, -1px) scale(2) skew(12deg) rotateX(48deg));
  }
  40.5% {
    @include transform(translate(1px, -1px) scale(2) skew(12deg) rotateX(73deg));
  }
  45% {
    @include transform(translate(1px, -1px) scale(2) skew(12deg) rotateX(55deg));
  }
  49.2% {
    @include transform(translate(1px, -1px) scale(2) skew(12deg) rotateX(80deg));
  }
  53% {
    @include transform(translate(1px, -1px) scale(2) skew(12deg) rotateX(50deg));
  }
  57.1% {
    @include transform(translate(1px, -1px) scale(2) skew(12deg) rotateX(75deg));
  }
  61% {
    @include transform(translate(1px, -1px) scale(2) skew(12deg) rotateX(54deg));
  }
  64.7% {
    @include transform(translate(1px, -1px) scale(2) skew(12deg) rotateX(81deg));
  }
  69.3% {
    @include transform(translate(1px, -1px) scale(2) skew(12deg) rotateX(49deg));
  }
  73% {
    @include transform(translate(1px, -1px) scale(2) skew(12deg) rotateX(76deg));
  }
  76.8% {
    @include transform(translate(1px, -1px) scale(2) skew(12deg) rotateX(53deg));
  }
  80.3% {
    @include transform(translate(1px, -1px) scale(2) skew(12deg) rotateX(83deg));
  }
  81% {
    @include transform(translate(1px, -1px) scale(2) skew(12deg) rotateX(52deg));
  }
  84.7% {
    @include transform(translate(1px, -1px) scale(2) skew(12deg) rotateX(73deg));
  }
  88% {
    @include transform(translate(1px, -1px) scale(2) skew(12deg) rotateX(51deg));
  }
  92.3% {
    @include transform(translate(1px, -1px) scale(2) skew(12deg) rotateX(80deg));
  }
  96% {
    @include transform(translate(1px, -1px) scale(2) skew(12deg) rotateX(50deg));
  }
  100% {
    @include transform(translate(0, 0) scale(1) skew(0deg) rotateX(60deg));
  }
}



.tuuli {

  &.active {

    .st71 { // orig mouth
      opacity: 0;
    }

    .shadow {
      @include animation( TuuliTalkingShadow 8.176s linear forwards);
      -moz-animation: none !important;
    }

    .mouth-anim {
      opacity: 1;
      @include animation( TuuliTalkingMouth 8.176s linear forwards);
      -moz-animation: none !important;
    }

    .eye {
      @include animation( TuuliTalkingIris 8.176s linear forwards);
      -moz-animation: none !important;

      &.st4 {
        @include animation( TuuliTalkingPupils 8.176s linear forwards);
        -moz-animation: none !important;
      }
    }
  }

  .mouth-anim {
    opacity: 0;
    fill: #E96E59;
    @include transform(rotate(15deg));
    @include transform-origin(50%, 50%);
    -moz-transform: none !important;
  }
}

@-webkit-keyframes TuuliTalkingShadow {
  14% {
    @include transform(translateY(1px));
  }
  18% {
    @include transform(translateY(0));
  }
  30% {
    @include transform(translateY(0));
  }
  34% {
    @include transform(translateY(1px));
  }
  38% {
    @include transform(translateY(1px));
  }
  41% {
    @include transform(translateY(0));
  }
  56% {
    @include transform(translateY(0));
  }
  59% {
    @include transform(translateY(1px));
  }
  70% {
    @include transform(translateY(1px));
  }
  72.5% {
    @include transform(translateY(0));
  }
  80% {
    @include transform(translateY(0));
  }
  82.5% {
    @include transform(translateY(1px));
  }
  88% {
    @include transform(translateY(1px));
  }
  100% {
    @include transform(translateY(0));
  }
}

@-webkit-keyframes TuuliTalkingPupils {
  0% {
    @include transform(translate(0, 0) scale(1));
  }
  2% {
    @include transform(translate(-3px, 3px) scale(.9));
  }
  14% {
    @include transform(translate(-3px, 3px) scale(.9) rotateX(0deg));
  }
  16% {
    @include transform(translate(-3px, 3px) scale(.9) rotateX(90deg));
  }
  18% {
    @include transform(translate(-3px, 3px) scale(.9) rotateX(0deg));
  }
  34% {
    @include transform(translate(-3px, 3px) scale(.9) rotateX(0deg));
  }
  36% {
    @include transform(translate(-4px, 7px) scale(.9) rotateX(90deg));
  }
  38% {
    @include transform(translate(-4px, 7px) scale(.9) rotateX(0deg));
  }
  41% {
    @include transform(translate(-4px, 7px) scale(.9));
  }
  44% {
    @include transform(translate(0, 7px) scale(.9));
  }
  46% {
    @include transform(translate(0, 7px) scale(.9));
  }
  51% {
    @include transform(translate(0, 7px) scale(.9));
  }
  56% {
    @include transform(translate(-3px, 3px) scale(.9));
  }
  60% {
    @include transform(translate(-3px, 3px) scale(.9) rotateX(0deg));
  }
  62% {
    @include transform(translate(-3px, 3px) scale(.9) rotateX(90deg));
  }
  64% {
    @include transform(translate(-3px, 3px) scale(.9) rotateX(0deg));
  }
  98% {
    @include transform(translate(-3px, 3px) scale(.9));
  }
  100% {
    @include transform(translate(0, 0) scale(1));
  }
}

@-webkit-keyframes TuuliTalkingIris {
  14% {
    @include transform(rotateX(0deg));
  }
  16% {
    @include transform(rotateX(90deg));
  }
  18% {
    @include transform(rotateX(0deg));
  }
  34% {
    @include transform(rotateX(0deg));
  }
  36% {
    @include transform(rotateX(90deg));
  }
  38% {
    @include transform(rotateX(0deg));
  }
  60% {
    @include transform(rotateX(0deg));
  }
  62% {
    @include transform(rotateX(90deg));
  }
  64% {
    @include transform(rotateX(0deg));
  }
}

@-webkit-keyframes TuuliTalkingMouth {
  0% {
    @include transform(rotate(15deg) rotateX(80deg));
  }
  2.25% {
    @include transform(rotate(13deg) rotateX(0deg));
  }
  4.7% {
    @include transform(rotate(13deg) rotateX(77deg));
  }
  7.6% {
    @include transform(rotate(13deg) rotateX(8deg));
  }
  10.8% {
    @include transform(rotate(15deg) rotateX(75deg));
  }
  14% {
    @include transform(rotate(15deg) rotateX(4deg));
  }
  17.8% {
    @include transform(rotate(15deg) rotateX(73deg));
  }
  21.4% {
    @include transform(rotate(15deg) rotateX(8deg));
  }
  24.7% {
    @include transform(rotate(15deg) rotateX(80deg));
  }
  28% {
    @include transform(rotate(13deg) rotateX(4deg));
  }
  33% {
    @include transform(rotate(13deg) rotateX(75deg));
  }
  36.7% {
    @include transform(rotate(13deg) rotateX(5deg));
  }
  40.5% {
    @include transform(rotate(13deg) rotateX(73deg));
  }
  45% {
    @include transform(rotate(13deg) rotateX(3deg));
  }
  49.2% {
    @include transform(rotate(15deg) rotateX(80deg));
  }
  53% {
    @include transform(rotate(15deg) rotateX(80deg));
  }
  56.1% {
    @include transform(rotate(15deg) rotateX(74deg));
  }
  59.5% {
    @include transform(rotate(15deg) rotateX(4deg));
  }
  64.7% {
    @include transform(rotate(15deg) rotateX(82deg));
  }
  69.3% {
    @include transform(rotate(13deg) rotateX(5deg));
  }
  73% {
    @include transform(rotate(13deg) rotateX(75deg));
  }
  76.8% {
    @include transform(rotate(13deg) rotateX(3deg));
  }
  80.3% {
    @include transform(rotate(13deg) rotateX(80deg));
  }
  81% {
    @include transform(rotate(13deg) rotateX(80deg));
  }
  84.7% {
    @include transform(rotate(13deg) rotateX(3deg));
  }
  88% {
    @include transform(rotate(15deg) rotateX(75deg));
  }
  92.3% {
    @include transform(rotate(15deg) rotateX(5deg));
  }
  96% {
    @include transform(rotate(15deg) rotateX(44deg));
  }
  99.9% {
    @include transform(rotate(15deg) rotateX(82deg));
    opacity: 1;
  }
  100% {
    @include transform(rotate(15deg) rotateX(82deg));
    opacity: 0;
  }
}

@keyframes TuuliTalkingShadow {
  14% {
    @include transform(translateY(1px));
  }
  18% {
    @include transform(translateY(0));
  }
  30% {
    @include transform(translateY(0));
  }
  34% {
    @include transform(translateY(1px));
  }
  38% {
    @include transform(translateY(1px));
  }
  41% {
    @include transform(translateY(0));
  }
  56% {
    @include transform(translateY(0));
  }
  59% {
    @include transform(translateY(1px));
  }
  70% {
    @include transform(translateY(1px));
  }
  72.5% {
    @include transform(translateY(0));
  }
  80% {
    @include transform(translateY(0));
  }
  82.5% {
    @include transform(translateY(1px));
  }
  88% {
    @include transform(translateY(1px));
  }
  100% {
    @include transform(translateY(0));
  }
}

@keyframes TuuliTalkingPupils {
  0% {
    @include transform(translate(0, 0) scale(1));
  }
  2% {
    @include transform(translate(-3px, 3px) scale(.9));
  }
  14% {
    @include transform(translate(-3px, 3px) scale(.9) rotateX(0deg));
  }
  16% {
    @include transform(translate(-3px, 3px) scale(.9) rotateX(90deg));
  }
  18% {
    @include transform(translate(-3px, 3px) scale(.9) rotateX(0deg));
  }
  34% {
    @include transform(translate(-3px, 3px) scale(.9) rotateX(0deg));
  }
  36% {
    @include transform(translate(-4px, 7px) scale(.9) rotateX(90deg));
  }
  38% {
    @include transform(translate(-4px, 7px) scale(.9) rotateX(0deg));
  }
  41% {
    @include transform(translate(-4px, 7px) scale(.9));
  }
  44% {
    @include transform(translate(0, 7px) scale(.9));
  }
  46% {
    @include transform(translate(0, 7px) scale(.9));
  }
  51% {
    @include transform(translate(0, 7px) scale(.9));
  }
  56% {
    @include transform(translate(-3px, 3px) scale(.9));
  }
  60% {
    @include transform(translate(-3px, 3px) scale(.9) rotateX(0deg));
  }
  62% {
    @include transform(translate(-3px, 3px) scale(.9) rotateX(90deg));
  }
  64% {
    @include transform(translate(-3px, 3px) scale(.9) rotateX(0deg));
  }
  98% {
    @include transform(translate(-3px, 3px) scale(.9));
  }
  100% {
    @include transform(translate(0, 0) scale(1));
  }
}

@keyframes TuuliTalkingIris {
  14% {
    @include transform(rotateX(0deg));
  }
  16% {
    @include transform(rotateX(90deg));
  }
  18% {
    @include transform(rotateX(0deg));
  }
  34% {
    @include transform(rotateX(0deg));
  }
  36% {
    @include transform(rotateX(90deg));
  }
  38% {
    @include transform(rotateX(0deg));
  }
  60% {
    @include transform(rotateX(0deg));
  }
  62% {
    @include transform(rotateX(90deg));
  }
  64% {
    @include transform(rotateX(0deg));
  }
}

@keyframes TuuliTalkingMouth {
  0% {
    @include transform(rotate(15deg) rotateX(80deg));
  }
  2.25% {
    @include transform(rotate(13deg) rotateX(0deg));
  }
  4.7% {
    @include transform(rotate(13deg) rotateX(77deg));
  }
  7.6% {
    @include transform(rotate(13deg) rotateX(8deg));
  }
  10.8% {
    @include transform(rotate(15deg) rotateX(75deg));
  }
  14% {
    @include transform(rotate(15deg) rotateX(4deg));
  }
  17.8% {
    @include transform(rotate(15deg) rotateX(73deg));
  }
  21.4% {
    @include transform(rotate(15deg) rotateX(8deg));
  }
  24.7% {
    @include transform(rotate(15deg) rotateX(80deg));
  }
  28% {
    @include transform(rotate(13deg) rotateX(4deg));
  }
  33% {
    @include transform(rotate(13deg) rotateX(75deg));
  }
  36.7% {
    @include transform(rotate(13deg) rotateX(5deg));
  }
  40.5% {
    @include transform(rotate(13deg) rotateX(73deg));
  }
  45% {
    @include transform(rotate(13deg) rotateX(3deg));
  }
  49.2% {
    @include transform(rotate(15deg) rotateX(80deg));
  }
  53% {
    @include transform(rotate(15deg) rotateX(80deg));
  }
  56.1% {
    @include transform(rotate(15deg) rotateX(74deg));
  }
  59.5% {
    @include transform(rotate(15deg) rotateX(4deg));
  }
  64.7% {
    @include transform(rotate(15deg) rotateX(82deg));
  }
  69.3% {
    @include transform(rotate(13deg) rotateX(5deg));
  }
  73% {
    @include transform(rotate(13deg) rotateX(75deg));
  }
  76.8% {
    @include transform(rotate(13deg) rotateX(3deg));
  }
  80.3% {
    @include transform(rotate(13deg) rotateX(80deg));
  }
  81% {
    @include transform(rotate(13deg) rotateX(80deg));
  }
  84.7% {
    @include transform(rotate(13deg) rotateX(3deg));
  }
  88% {
    @include transform(rotate(15deg) rotateX(75deg));
  }
  92.3% {
    @include transform(rotate(15deg) rotateX(5deg));
  }
  96% {
    @include transform(rotate(15deg) rotateX(44deg));
  }
  99.9% {
    @include transform(rotate(15deg) rotateX(82deg));
    opacity: 1;
  }
  100% {
    @include transform(rotate(15deg) rotateX(82deg));
    opacity: 0;
  }
}


.toimi {

  &.active {

    .st89,
    .st90 {
      &.left-eyebrow {
        @include animation( ToimiTalkingLeftEyebrow 11s linear);
        -moz-animation: none !important;
      }

      &.right-eyebrow {
        @include animation( ToimiTalkingRightEyebrow 11s linear);
        -moz-animation: none !important;
      }
    }

    .st74 {
      @include animation( ToimiTalkingMouth 11s linear);
      -moz-animation: none !important;
    }

    .eye {
      @include animation( ToimiTalkingIris 11s linear);
      -moz-animation: none !important;

      &.st4 {
        @include animation( ToimiTalkingPupils 11s linear);
        -moz-animation: none !important;
      }
    }
  }

  .eye {
    @include transform(translate(0, 0) rotateX(0deg));
  }

  .st74 {
    @include transform-origin(50%, 50%);
    @include transform(rotateX(50deg));
    -moz-transform: none !important;
  }

  .st89,
  .st90 {
    @include transform-origin(50%, 50%);
    @include transform(translate(0, 0) rotateZ(0deg) scale(1));
  }
}

@-webkit-keyframes ToimiTalkingLeftEyebrow {
  0% {
    @include transform(translate(0, 0) rotateZ(0deg) scale(1));
  }
  2% {
    @include transform(translate(0, -2px) rotateZ(-15deg) scale(1.05));
  }
  98% {
    @include transform(translate(0, -2px) rotateZ(-15deg) scale(1.05));
  }
  100% {
    @include transform(translate(0, 0) rotateZ(0deg) scale(1));
  }
}

@-webkit-keyframes ToimiTalkingRightEyebrow {
  0% {
    @include transform(translate(0, 0) rotateZ(0deg) scale(1));
  }
  2% {
    @include transform(translate(0, -2px) rotateZ(15deg) scale(1.05));
  }
  98% {
    @include transform(translate(0, -2px) rotateZ(15deg) scale(1.05));
  }
  100% {
    @include transform(translate(0, 0) rotateZ(0deg) scale(1));
  }
}

@-webkit-keyframes ToimiTalkingPupils {
  0% {
    @include transform(translate(0, 0) scale(1));
  }
  2% {
    @include transform(translate(-3px, 3px) scale(.9));
  }
  14% {
    @include transform(translate(-3px, 3px) scale(.9) rotateX(0deg));
  }
  16% {
    @include transform(translate(-3px, 3px) scale(.9) rotateX(90deg));
  }
  18% {
    @include transform(translate(-3px, 3px) scale(.9) rotateX(0deg));
  }
  34% {
    @include transform(translate(-3px, 3px) scale(.9) rotateX(0deg));
  }
  36% {
    @include transform(translate(0, 0) scale(.9) rotateX(90deg));
  }
  38% {
    @include transform(translate(0, 0) scale(.9) rotateX(0deg));
  }
  54% {
    @include transform(translate(0, 0) scale(.9));
  }
  56% {
    @include transform(translate(-3px, 3px) scale(.9));
  }
  60% {
    @include transform(translate(-3px, 3px) scale(.9) rotateX(0deg));
  }
  62% {
    @include transform(translate(-3px, 3px) scale(.9) rotateX(90deg));
  }
  64% {
    @include transform(translate(-3px, 3px) scale(.9) rotateX(0deg));
  }
  98% {
    @include transform(translate(-3px, 3px) scale(.9));
  }
  100% {
    @include transform(translate(0, 0) scale(1));
  }
}

@-webkit-keyframes ToimiTalkingIris {
  14% {
    @include transform(rotateX(0deg));
  }
  16% {
    @include transform(rotateX(90deg));
  }
  18% {
    @include transform(rotateX(0deg));
  }
  34% {
    @include transform(rotateX(0deg));
  }
  36% {
    @include transform(rotateX(90deg));
  }
  38% {
    @include transform(rotateX(0deg));
  }
  60% {
    @include transform(rotateX(0deg));
  }
  62% {
    @include transform(rotateX(90deg));
  }
  64% {
    @include transform(rotateX(0deg));
  }
}

@-webkit-keyframes  ToimiTalkingMouth {
  0% {
    @include transform(rotateX(50deg));
  }
  2% {
    @include transform(rotateX(81deg));
  }
  4.2% {
    @include transform(rotateX(52deg));
  }
  6.5% {
    @include transform(rotateX(80deg));
  }
  8.8% {
    @include transform(rotateX(53deg));
  }
  11% {
    @include transform(rotateX(83deg));
  }
  14.1% {
    @include transform(rotateX(45deg));
  }
  17% {
    @include transform(rotateX(78deg));
  }
  19.67% {
    @include transform(rotateX(42deg));
  }
  22% {
    @include transform(rotateX(80deg));
  }
  24.8% {
    @include transform(rotateX(41deg));
  }
  27.3% {
    @include transform(rotateX(77deg));
  }
  30% {
    @include transform(rotateX(48deg));
  }
  32.8% {
    @include transform(rotateX(79deg));
  }
  35% {
    @include transform(rotateX(54deg));
  }
  37.8% {
    @include transform(rotateX(77deg));
  }
  40% {
    @include transform(rotateX(48deg));
  }
  42.7% {
    @include transform(rotateX(80deg));
  }
  45% {
    @include transform(rotateX(54deg));
  }
  48.3% {
    @include transform(rotateX(78deg));
  }
  50.7% {
    @include transform(rotateX(55deg));
  }
  53% {
    @include transform(rotateX(80deg));
  }
  55.1% {
    @include transform(rotateX(50deg));
  }
  57.9% {
    @include transform(rotateX(76deg));
  }
  60% {
    @include transform(rotateX(45deg));
  }
  63.1% {
    @include transform(rotateX(79deg));
  }
  65.9% {
    @include transform(rotateX(47deg));
  }
  68.1% {
    @include transform(rotateX(82deg));
  }
  71.3% {
    @include transform(rotateX(45deg));
  }
  74.4% {
    @include transform(rotateX(81deg));
  }
  77.4% {
    @include transform(rotateX(50deg));
  }
  80.4% {
    @include transform(rotateX(80deg));
  }
  83.8% {
    @include transform(rotateX(53deg));
  }
  86.7% {
    @include transform(rotateX(82deg));
  }
  89.3% {
    @include transform(rotateX(53deg));
  }
  92.8% {
    @include transform(rotateX(80deg));
  }
  95.1% {
    @include transform(rotateX(45deg));
  }
  97.4% {
    @include transform(rotateX(75deg));
  }
  100% {
    @include transform(rotateX(50deg));
  }
}

@keyframes ToimiTalkingLeftEyebrow {
  0% {
    @include transform(translate(0, 0) rotateZ(0deg) scale(1));
  }
  2% {
    @include transform(translate(0, -2px) rotateZ(-15deg) scale(1.05));
  }
  98% {
    @include transform(translate(0, -2px) rotateZ(-15deg) scale(1.05));
  }
  100% {
    @include transform(translate(0, 0) rotateZ(0deg) scale(1));
  }
}

@keyframes ToimiTalkingRightEyebrow {
  0% {
    @include transform(translate(0, 0) rotateZ(0deg) scale(1));
  }
  2% {
    @include transform(translate(0, -2px) rotateZ(15deg) scale(1.05));
  }
  98% {
    @include transform(translate(0, -2px) rotateZ(15deg) scale(1.05));
  }
  100% {
    @include transform(translate(0, 0) rotateZ(0deg) scale(1));
  }
}

@keyframes ToimiTalkingPupils {
  0% {
    @include transform(translate(0, 0) scale(1));
  }
  2% {
    @include transform(translate(-3px, 3px) scale(.9));
  }
  14% {
    @include transform(translate(-3px, 3px) scale(.9) rotateX(0deg));
  }
  16% {
    @include transform(translate(-3px, 3px) scale(.9) rotateX(90deg));
  }
  18% {
    @include transform(translate(-3px, 3px) scale(.9) rotateX(0deg));
  }
  34% {
    @include transform(translate(-3px, 3px) scale(.9) rotateX(0deg));
  }
  36% {
    @include transform(translate(0, 0) scale(.9) rotateX(90deg));
  }
  38% {
    @include transform(translate(0, 0) scale(.9) rotateX(0deg));
  }
  54% {
    @include transform(translate(0, 0) scale(.9));
  }
  56% {
    @include transform(translate(-3px, 3px) scale(.9));
  }
  60% {
    @include transform(translate(-3px, 3px) scale(.9) rotateX(0deg));
  }
  62% {
    @include transform(translate(-3px, 3px) scale(.9) rotateX(90deg));
  }
  64% {
    @include transform(translate(-3px, 3px) scale(.9) rotateX(0deg));
  }
  98% {
    @include transform(translate(-3px, 3px) scale(.9));
  }
  100% {
    @include transform(translate(0, 0) scale(1));
  }
}

@keyframes ToimiTalkingIris {
  14% {
    @include transform(rotateX(0deg));
  }
  16% {
    @include transform(rotateX(90deg));
  }
  18% {
    @include transform(rotateX(0deg));
  }
  34% {
    @include transform(rotateX(0deg));
  }
  36% {
    @include transform(rotateX(90deg));
  }
  38% {
    @include transform(rotateX(0deg));
  }
  60% {
    @include transform(rotateX(0deg));
  }
  62% {
    @include transform(rotateX(90deg));
  }
  64% {
    @include transform(rotateX(0deg));
  }
}

@keyframes ToimiTalkingMouth {
  0% {
    @include transform(rotateX(50deg));
  }
  2% {
    @include transform(rotateX(81deg));
  }
  4.2% {
    @include transform(rotateX(52deg));
  }
  6.5% {
    @include transform(rotateX(80deg));
  }
  8.8% {
    @include transform(rotateX(53deg));
  }
  11% {
    @include transform(rotateX(83deg));
  }
  14.1% {
    @include transform(rotateX(45deg));
  }
  17% {
    @include transform(rotateX(78deg));
  }
  19.67% {
    @include transform(rotateX(42deg));
  }
  22% {
    @include transform(rotateX(80deg));
  }
  24.8% {
    @include transform(rotateX(41deg));
  }
  27.3% {
    @include transform(rotateX(77deg));
  }
  30% {
    @include transform(rotateX(48deg));
  }
  32.8% {
    @include transform(rotateX(79deg));
  }
  35% {
    @include transform(rotateX(54deg));
  }
  37.8% {
    @include transform(rotateX(77deg));
  }
  40% {
    @include transform(rotateX(48deg));
  }
  42.7% {
    @include transform(rotateX(80deg));
  }
  45% {
    @include transform(rotateX(54deg));
  }
  48.3% {
    @include transform(rotateX(78deg));
  }
  50.7% {
    @include transform(rotateX(55deg));
  }
  53% {
    @include transform(rotateX(80deg));
  }
  55.1% {
    @include transform(rotateX(50deg));
  }
  57.9% {
    @include transform(rotateX(76deg));
  }
  60% {
    @include transform(rotateX(45deg));
  }
  63.1% {
    @include transform(rotateX(79deg));
  }
  65.9% {
    @include transform(rotateX(47deg));
  }
  68.1% {
    @include transform(rotateX(82deg));
  }
  71.3% {
    @include transform(rotateX(45deg));
  }
  74.4% {
    @include transform(rotateX(81deg));
  }
  77.4% {
    @include transform(rotateX(50deg));
  }
  80.4% {
    @include transform(rotateX(80deg));
  }
  83.8% {
    @include transform(rotateX(53deg));
  }
  86.7% {
    @include transform(rotateX(82deg));
  }
  89.3% {
    @include transform(rotateX(53deg));
  }
  92.8% {
    @include transform(rotateX(80deg));
  }
  95.1% {
    @include transform(rotateX(45deg));
  }
  97.4% {
    @include transform(rotateX(75deg));
  }
  100% {
    @include transform(rotateX(50deg));
  }
}